/* This code is made by Kjærsti Løkholm Bergli.
    My github can be found at: https:github.com/kj-develops */

* {
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
}

header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #fff5ee8b;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
    color: #fff5ee8b;
}

h2 {
    font-size: 30px;
    padding: 0 0 5px 0;
}

li {
    list-style: none;
    padding: 7px;
}

.logo {
    height: 50px;
    margin: 10px;
}

.listing {
    display: inline-flex;
}

.hero {
    display: flex;
    max-width: 1200px;
    position: relative;
    margin: 0 auto 60px auto;
    padding: 0 5px 0 0;
}

.herotext {
    background-color: black;
    position: absolute;
    top: 40%;
    text-align: center;
    left: 0;
    right: 0;
}

.backgroundimage {
    width: 100%;
}

.of_the_month_text {
    text-align: center;
}

.of_the_month_images {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.smallimage {
    width: 300px;
    height: 200px;
    margin: 15px 15px 0px 15px;
}

.small_img_text {
    font-weight: bold;
    text-align: center;
    line-height: 10px;
}

.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    min-height: 570px;
    margin: 60px auto 0 auto;
    background-image: url(graphics/img-locations-background.webp);
}

.location_header{
    background: transparent;
    text-align: center;
    width: 100%;
}

.location_boxes{
    display: inline-flex;
}

.location_item{
    background-color: black;
    text-align: center;
    max-width: 300px;
    height: auto;
    line-height: 30px;
    margin: 20px;
}

.contact{
    text-align: center;
    font-weight: bold;
    min-height: 200px;
    margin-top: 60px;
}

footer{
    font-weight: bold;
    margin: 20px;
}